
body{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	height: 480px;
	width: 320px;
	overflow: scroll;
	font-family: Helvetica;
}

body.body_home{
	top:0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-image: url("../design/image/background_home.jpg");
	background-size: 320px 480px;
	background-repeat: no-repeat;
	background-position: center top;
}

body.body_search{
	top:0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-image: url("../design/image/background_search.png");
	background-size: 320px 480px;
	background-repeat: no-repeat;
	background-position: center top;
}

body.body_fav{
	top:0%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	background-image: url("../design/image/favorite.png");
	background-size: 320px 480px;
	background-repeat: no-repeat;
	background-position: center top;
}

/*Take note of how to apply use of a custom font*/
h1,h2,h3,h4,h5,p {
padding:0;
margin:0;
font-family:Helvetica, Arial, sans-serif;
}

div.container{
	height:395px;
	width:100%;
	overflow: scroll;
}

.header{
	height:25px;
	text-align: center;
	color:white;
}

.header p{
	display:inline;
}

p#header_search{
	display:inline-block;
	margin-right: 15%;
	margin-top: 2%;
}

p#header_results{
	display:inline-block;
	margin-left: -1px;
	margin-top: 2%;
}

p#header_favs{
	display:inline-block;
	margin-left: -1px;
	margin-top: 2%;
}

p#header_results_2{
	display:inline-block;
	margin-left: -50px;
	margin-top: 2%;
}

.button_right{
	float:right;
	margin-right: 3%;
	padding:5px;
	background-color: white;
	display: inline-block;
	border: 1px solid #768491;
}

.button_left{
	float:left;
	margin-left: 3%;
	padding:7px;
	background-color: white;
	display: inline-block;
	border: 1px solid #768491;
}

#mapview{
	background-image: url("../design/image/mapview.png");
	background-size: 97% 390px;
	margin-left: 1.5%;
	background-repeat: no-repeat;
	display:inline-block;
	width:100%;
	height:400px;
}

#top_bar{
	background-image: url("../design/image/harry_image.png");
	font-size: 12px;
	background-size: 325px 180px;
	background-repeat: no-repeat;
	display:inline-block;
	width:100%;
	height:180px;
	margin-top: -2px;
	margin-left: 0px;
	margin-right:0px;
	padding-top: 35.5%;
	margin-bottom: -115px;
}

#top_bar p{
	display:inline-block;
	width: 130px;
}

p.float_right{
	margin-right: 8px;
	text-align: right;
	float:right;
}

#deal{
	text-align: center;
	color:white;
	background-image: url("../design/image/deal.png");
	font-size: 13px;
	background-size: 320px 50px;
	background-repeat: no-repeat;
	display:inline-block;
	width:100%;
	height:50px;
	padding-top: 9px;
}

.action_button{
	background-image: url("../design/image/call_button.png");
	font-size: 13px;
	background-size: 112% 52px;
	background-color: none;
	background-position: -5px -7px;
	background-repeat: no-repeat;
	display:inline-block;
	width:33.5%;
	height:40px;
	border:none;
	margin-top: -10px;
	margin-left: -4px;
	-webkit-transition: .1s ease-in-out opacity;
    -moz-transition: .1s ease-in-out opacity;
    -o-transition: .1s ease-in-out opacity;
    transition: .1s ease-in-out opacity;
}

.action_button:hover{
	opacity: 0.9;
}

#map{
	background-image: url("../design/image/map.png");
	font-size: 13px;
	background-size: 325px 142px;
	background-position: -5px -7px;
	background-repeat: no-repeat;
	display:inline-block;
	width:97%;
	height:8%;
	margin-top: 1px;
	position:relative;
	padding-top: 100px;
	margin-left: 1.2%;
	margin-bottom: 2px;
	padding-bottom: 0.5px;
	border:1px solid white;
	box-shadow:2px 2px 4px;
}

.button_bar{
	display: block;
	background-color: white;
	width: 312px;
	border:1px solid white;
	height: 35px;
	opacity: 0.95;
	margin-left: 1.2%;
	box-shadow: 2px 2px 4px;
	margin-bottom:1px;
	text-indent: 9px;
	-webkit-transition: .2s ease-in-out opacity;
    -moz-transition: .2s ease-in-out opacity;
    -o-transition: .2s ease-in-out opacity;
    transition: .2s ease-in-out opacity;
}

.button_bar:hover{
	opacity: 0.85;
}

.moreinfo{
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	color:white;
}

.moreinfo a{
	margin-top: 10px;
	text-indent: -9000px;
}

ol{
	list-style-type: none;
	margin-left: 5px;
}

ol li{
	font-size: 12px;
	background-size: 306px 100px;
	background-repeat: no-repeat;
	display:block;
	width:306px;
	height:100px;
	margin-left: -38px;
	padding-left: 6px;
	padding-top: 5px;
	margin-bottom: -4px;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

ol li:hover{
	opacity: 0.8;
}

ol li:nth-child(1) {
	background-image: url("../design/image/jackys_result.png");
}

ol li:nth-child(2) {
	background-image: url("../design/image/harry_result.png");
}

ol li:nth-child(3) {
	background-image: url("../design/image/sakura_result.png");
}

ol li:nth-child(4) {
	background-image: url("../design/image/paragon_result.png");
}

.logo{
	width:100px;
	height: 100px;
	margin-left:auto;
	margin-right: auto;
	margin-top: 30px;
	position:relative;
	background-image: url("../design/image/beer_Logo.png");
	background-size: 100% 100px;
	display: block;
	margin-bottom: 30px
}

#yelp{
	width:50px;
	height: 50px;
	position:relative;
	background-image: url("../design/image/yelp.png");
	background-size: 50px 50px;
	display: inline-block;
	background-repeat: none;
}

#facebook{
	width:50px;
	height: 50px;
	position:relative;
	background-image: url("../design/image/facebook.png");
	background-size: 50px 50px;
	display: inline-block;
	background-repeat: none;
}

form{
	margin-left: 10px;
	margin-right: 10px;
	color: white;
}

.textbox_1{
	position: relative;
	float: left;
	border: 1px solid #768491;
	background-color: white;
	color: black;
	display:block;
	padding: 7px;
	width: 184px;
	margin-top: 8px;
}

.textbox_2{
	position: relative;
	float: right;
	border: 1px solid #768491;
	background-color: white;
	color: black;
	display:block;
	padding: 7px;
	width: 80px;
	margin-top: 8px;
}

.css-label{
	font-size: 12px;
	margin-left: -6px;
	opacity: 0.6;
	font-family: Helvetica;
}

label{
	min-width: 20%;
	padding: 4px;
	font-size: 11px;
	color:white;
	padding-left: 1px;
}

.blackbutton{
	margin-top: 8px;
	color:white;
	padding:7px;
	background-color: black;
	display: inline-block;
	border: 1px solid #768491;
}

select{
	margin-top: 15px;
}

.checkbox{
	margin-top: 15px;
}

#filter{
	margin-top: 10px;
	margin-right: 5px;
	display:inline-block;
	font-size: 12px;
}

.findhours{
	color:white;
	font-size: 13px;
	background-image:url("../design/image/findhours_button.png");
	background-repeat: no-repeat;
	background-position: 0px 3px;
	background-size: 306px 50px;
	background-color: #3E454C;
	border:none;
	display:block;
	width: 306px;
	height: 50px;
}

.findhours:active{
	color:white;
	background-image:url("../design/image/findhours_2.png");
	background-repeat: no-repeat;
	background-position: 0px 3px;
	background-size: 306px 50px;
	background-color: #3E454C;
	border:none;
	display:block;
	width: 306px;
	height: 50px;
}

.ads{
	display: inline-block;
	width:320px;
}
#harry_home{
	background-image: url("../design/image/burger_home.jpg");
	background-size: 310px 220px;
	background-repeat: no-repeat;
	width: 310px;
	height: 220px;
	display:block;
	position: relative; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

#harry_home:hover{
	opacity: 0.8;
}

.white_bar{
	background-color: white;
	text-decoration: none;
	color:black;
	font-family: Helvetica;
	display: block;
	opacity:0.7;
	text-indent: 5px;
	padding:10px;
	padding-left: 3px;
	padding-right: 3px;
}

.white_bar_2{
	background-color: white;
	text-decoration: none;
	color:black;
	font-family: Helvetica;
	display: block;
	width:61%;
	opacity:0.7;
	text-indent: 5px;
	padding:5px;
	padding-left: 3px;
	padding-right: 3px;
	margin-left: -1.5px
}

div#flan{
	background-image: url("../design/image/flan.jpg");
	background-size: 195px 150px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 195px;
	height: 150px;
	float:left;
	margin-top: 5px;
	margin-left: 7px;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

#flan:hover{
	opacity: 0.8;
}

div#fleming{
	background-image: url("../design/image/fleming.jpg");
	background-size: 105px 150px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 105px;
	height: 150px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 7px;
	float: right;
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

#fleming:hover{
	opacity: 0.8;
}

div#jackys{
	background-image: url("../design/image/jackys.jpg");
	background-size: 306px 200px;
	background-repeat: no-repeat;
	background-position: 0px -20px;
	width: 306px;
	height: 180px;
	display:inline-block;
	position: relative; 
	margin-left: 7px;
	margin-right: auto;
	margin-top: 5px
	-webkit-transition: .4s ease-in-out opacity;
    -moz-transition: .4s ease-in-out opacity;
    -o-transition: .4s ease-in-out opacity;
    transition: .4s ease-in-out opacity;
}

#jackys:hover{
	opacity:0.8;
}

.footer{
	text-align: center;
	position:absolute;
	bottom:0;
	width:100%;
	height:30px;
}

.footer a{
	text-indent: -9999px;
	display: inline-block;
	width:103px;
}